@charset "utf-8";

* { margin:0; padding:0; }

body { font-size: 100%; }

#container {
    width: 100%;
    min-width: 960px;
    font-family: "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", sans-serif;
}


/* Header */
#header {
    padding: 0.5em 0.5em;
    background-color: #9DE35C;
}

#header h1 {
    font-size: 150%;
}

#header > h1 > a {
    text-decoration: none;
    color: #309220;
}


/* Navigation */
#navi {
    border-top:    solid 1px #309220;
    border-bottom: solid 1px #309220;
    background-color: #F7F7EA;
}

#navi > ol {
    padding: 0.1em 0.5em;
    list-style: none;
    font-size: 90%;
}

#navi > ol > li {
    display: inline;
}


/* Footer */
#footer {
    margin: 2em auto 0 auto;
    height: 5em;
    line-height: 5em;
    border-top: 1px solid #309220;
    background-color: #F7F7EA;
    font-size: 75%;
    text-align: center;
    vertical-align: middle;
}

#footer > ul {
    list-style: none;
}

#footer > ul > li {
    display: inline;
}


/* Link */
a:link     { color: #309220; text-decoration: none; }
a:visited  { color: #309220; text-decoration: none; }
a:hover    { color: #309220; text-decoration: underline; }
a:active   { color: #309220; text-decoration: underline; }
