#!/bin/sh
cd $HOME/p5-ark-paste || exit 1

exec 2>&1
exec env - PATH=$HOME/local/perlbrew/perls/current/bin \
    /usr/bin/setuidgid www-data \
    starman --workers 5 --port 12121 --disable-keepalive app.psgi
